<p>Hello <%= @resource.email %>!</p>

<p>Вы запросили смену пароля. Вы можете сменить пароль, используя ссылку указанную ниже.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали смену пароля, пожалуйста проигнорируйте это письмо.</p>
